# Ignore Ruby build artifacts and temp files
*.gem
*.rbc
.bundle
vendor/
tmp/
*.log
.github/copilot-instructions.md
.github/rspec-testing-patterns.md
.github/my-learnng-path.md


# Ignore system files
.DS_Store

# Ignore editor configs
.idea/
.vscode/

# Ignore config/env files
.env